.previewContainer {
  background-color: #fff;
  width: 100%;
  height: auto;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.postInfoContainer {
  display: flex;
  width: 100%;
  height: 52px;
  align-items: center;
  gap: 12px;
}

.iconContainer {
  height: 100%;
  aspect-ratio: 1/1;
  background-color: rgba(128, 128, 128, 0.3);
  border-radius: 100%;
  overflow: hidden;
  svg {
    height: 100%;
    width: 100%;
    transform: scale(1.1);
    overflow: hidden;
    border-radius: 100%;
  }
}

.accountName {
  font-size: 16px;
  color: var(--text-color);
  line-height: 10px;
}

.dateLabel {
  font-size: 14px;
  color: rgba(128, 128, 128, 0.5);
  font-weight: bold;
}

.postImageContainer {
  width: 100%;
}

.postActionsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 6px;
}

.primaryActions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.actionItem {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(128, 128, 128, 0.8);

  svg {
    font-size: 24px;
  }
}

.caption {
  font-size: 16px;
  color: var(--text-color);
  color: rgb(88, 88, 88);
  span {
    font-weight: bold;
    font-size: 15px;
    color: var(--text-color);
  }
}
