.dashboardContainer {
  width: 100%;
  height: 100%;
  padding: 24px;
  background-color: var(--sidebar-background-color);
  overflow-y: auto;
}

.rowContent {
  display: flex;
  padding: 0px 12px;
  align-items: flex-start;
  gap: 12px;
}

.left {
  width: 60%;
  background-color: #fff;
  height: 215px;
  border-radius: 16px;
}

.right {
  width: 40%;
}
