@use "tailwindcss";

:root {
  --background: #fff7f7;
  --foreground: #171717;
  --primary-blue: #1230ae;
  --accent-purple: #6c48c5;
  --soft-accent: rgb(198, 143, 230);
  --soft-accent-background: rgb(198, 143, 230, 0.3);
  --text-color: #0f172a;
  --transparent-text-color: rgb(23, 23, 23, 0.5);
  --app-text-color: #171717;

  --sidebar-background-color: #f7f6fc;
  --hover-background-color: #f1f1f1;

  --max-width-tablet: 1280px;
  --max-width-tablet-portrait: 980px;
  --max-width-mobile-landscape: 700px;
  --max-width-mobile: 500px;
}

::-webkit-scrollbar {
  width: 2px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: var(--background);
}
::-webkit-scrollbar-thumb {
  background: var(--soft-accent-background);
}
