.audienceContainer {
  width: calc(100% - 24px);
  margin: 0 auto;
  height: 350px;
  background-color: #fff;
  border-radius: 12px;
  padding: 12px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
}

.title {
  height: 36px;
  vertical-align: middle;
  font-weight: bold;
  font-size: 18px;
}

.audienceTopBar {
  margin-bottom: 12px;
  display: flex;
  height: 36px;
  justify-content: space-between;
}

.platforms {
  display: flex;
  gap: 6px;
}

.singlePlatform {
  padding: 0px 12px;
  border: solid 1px #d5d5d5;
  height: 26px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    border: solid 1px #979797;
    background-color: #f7f7f7;
  }
}

.selectedPlatform {
  border: solid 1px var(--accent-purple);
}

.icon {
  height: 10px;
  width: 10px;
  border-radius: 100%;
}

.platformLabel {
  font-size: 14px;
  color: var(--text-color);
}

.graphContainer {
  width: 100%;
  height: calc(100% - 72px);
}

.timelineContainer {
  width: 13%;
  height: 100%;
}

.emptyState {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emptyLabel {
  color: var(--text-color);
  font-weight: bold;
  font-size: 18px;
}
