.previewContainer {
  background-color: #fff;
  width: 100%;
  height: auto;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.postInfoContainer {
  display: flex;
  width: 100%;
  height: 52px;
  align-items: center;
  gap: 12px;
}

.iconContainer {
  height: 100%;
  aspect-ratio: 1/1;
  background-color: rgba(128, 128, 128, 0.3);
  border-radius: 100%;
  svg {
    height: 100%;
    width: 100%;
  }
}

.accountName {
  font-size: 16px;
  color: var(--text-color);
}

.dateLabel {
  font-size: 14px;
  color: rgba(128, 128, 128, 0.5);
  font-weight: bold;
}

.postImageContainer {
  width: 100%;
}

.postActionsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 6px;
  border-top: solid 1px rgba(128, 128, 128, 0.3);
}

.actionItem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  flex: 1;
  padding: 6px 0;
  color: rgba(128, 128, 128, 0.8);

  svg {
    font-size: 20px;
  }
}

.actionLabel {
  font-size: 14px;
  font-weight: 600;
  color: rgba(128, 128, 128, 0.8);
}
