.cardContainer {
  background-color: #fff;
  width: 100%;
  aspect-ratio: 1/0.5;
  border-radius: 16px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
}

.topContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.iconContainer {
  padding: 6px;
  width: max-content;
  border-radius: 12px;
  background-color: var(--sidebar-background-color);
  color: var(--accent-purple);
  svg {
    font-size: 28px;
  }
}

.metricValue {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--accent-purple);
}

.metricLabel {
  font-size: 0.9rem;
  color: var(--accent-purple);
  opacity: 0.7;
  margin-left: 5px;
}
