.navigationContainer {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: calc(100% - 450px);
}

.containerLabel {
  font-weight: bold;
  color: grey;
  opacity: 0.5;
  font-size: 14px;
}

.navigations {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.singleNavigation {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px;
  border-radius: 12px;
  transition: all 0.3s;
  &:hover {
    background-color: #f1f1f1;
    .iconContainer {
      background-color: #fff;
      transform: scale(1.1);
      color: var(--app-text-color);
    }

    .navigationLabel {
      color: var(--app-text-color);
    }
  }
}

.iconContainer {
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: rgba(128, 128, 128, 1);
  background-color: rgba(128, 128, 128, 0.15);
  transition: all 0.3s;
}

.navigationLabel {
  padding-top: 5px;
  color: var(--transparent-text-color);
  font-weight: bold;
  font-size: 14px;
  transition: all 0.3s;
}
