.postsContainer {
  height: 100%;
  width: 100%;
  background-color: var(--sidebar-background-color);
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.filterContainer {
  height: 36px;
  width: 100%;
  border-radius: 12px;
}

.listContainer {
  width: 100%;
  height: calc(100% - 36px);
  background-color: #fff;
  border-radius: 12px;
}
