.cardsContainer {
  padding: 12px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  font-size: 1.5rem;
  color: var(--text-color);
}

.platformContainer {
  display: flex;
  align-items: center;
  gap: 6px;
  width: 100%;
  justify-content: space-between;
}

.platformButton {
  border-radius: 12px;
  box-shadow: none !important;
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 13px;
  text-transform: capitalize;
  background-color: #fff;
  svg {
    width: 22px;
    height: 22px;
    margin-left: -5px;
  }

  &:hover {
    background-color: var(--soft-accent-background);
    color: var(--accent-purple);
  }
}

.selectedPlatform {
  background-color: var(--soft-accent-background);
  color: var(--accent-purple);
}

.cards {
  display: flex;
  align-items: center;
  gap: 12px;
}

.noDataContainer {
  width: 100%;
  grid-column: span 6;
  background-color: #fff;
  height: 42px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accounts {
  display: flex;
  gap: 6px;
  align-items: center;
}

.manualButton {
  background-color: var(--accent-purple);
  border-radius: 12px;
  padding: 6px;
  min-width: unset !important;
  width: 42px;
  padding: 10px !important;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;
  overflow-x: hidden;
  transition: width 0.3s;

  & > span {
    opacity: 0;
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition:
      opacity 0.3s,
      max-width 0.3s;
  }

  & > svg {
    font-size: 22px;
    flex-shrink: 0;
  }

  &:hover {
    width: 120px;

    & > span {
      opacity: 1;
      max-width: 70px;
    }
  }
}

.loading {
  background-color: #fff;
  width: 100%;
  min-height: 120px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  & > span {
    color: var(--accent-purple);
    height: 50px !important;
    width: 50px !important;
  }
}
