.cardsContainer {
  padding: 12px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  font-size: 1.5rem;
  color: var(--text-color);
}

.platformContainer {
  display: flex;
  align-items: center;
  gap: 6px;
  width: 100%;
}

.platformButton {
  border-radius: 12px;
  box-shadow: none !important;
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 13px;
  text-transform: capitalize;
  background-color: #fff;
  svg {
    width: 22px;
    height: 22px;
    margin-left: -5px;
  }

  &:hover {
    background-color: var(--soft-accent-background);
    color: var(--accent-purple);
  }
}

.selectedPlatform {
  background-color: var(--soft-accent-background);
  color: var(--accent-purple);
}

.cards {
  display: flex;
  align-items: center;
  gap: 12px;
}

.noDataContainer {
  width: 100%;
  grid-column: span 6;
  background-color: #fff;
  height: 42px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
